{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Home

{% endblock %}


{% block content %}

    <h1>task...</h1>

        <article>

            {% for task in tasks %}

                <ul>
                    {% if task.complete %} 
                    <a href="/incomplete/{{ task.id }}">🗹</a>
                    {% else %} 
                    <a href="/complete/{{ task.id }}">☐</a>
                    {% endif %}
                    <a href="/delete/{{ task.id }}">Remove</a>

                    {{ task.priority }} {{ task.name }}
                </ul>

            {% else %}

                <p>None!</p>

            {% endfor %}

        </article>

    <article>

        <h3>Add a New task...</h3>

        <form action="/add" method="POST" role="group">

            <input
                type="text"
                name="task"
                placeholder="Name of new task"
                required
            >

            <input
                type="number"
                name="priority"
                min="0"
                max="5"
                placeholder="Priority"
                required
            >

            <button>Add</button>

        </form>

    </article>

{% endblock %}

