{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo - Single task

{% endblock %}


{% block content %}

    <h1>A Single task...</h1>


    <article>

        <header>
            <h3>{{ thing.name }}</h3>
        </header>

        <p>priority: <strong>{{ thing.priority }}</strong></p>

        <footer>
            <a href="/delete/{{ thing.id }}" onclick="return confirm('Really delete?');">Delete</a>
        </footer>

    </article>


    <a role="button" href="/">Back to tasks List</a>

{% endblock %}

